.icon, .logo {
    width: 80px;
}

nav a:hover {
    background-color: #fce172;
    color: #78c5d7;
    width: 100px;
    border-radius: 85%;
    border-style:groove;
   
    transform: scale(1.25);

    
    
    
}
